{"configSettings":[{"appID":"SharedServerToken","serverToken":""},{"appID":"voiceSDK_zh","serverToken":""},{"appID":"2419440961789986","serverToken":"RAJPVBEYFP3V7JIW2YJZD4LTWAUDXV5Z"},{"appID":"1103854314985059","serverToken":"6QUPSFBGG7FA6E27W4G2ZXUTK2USTAZR"},{"appID":"637521292734063","serverToken":"72ZK4EWBMXEBRCRRZFZINHKD4TF34IY4"},{"appID":"747601651087072","serverToken":"35MA6NVUXPTWPYSATR6LB33W5OHBU2EB"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"102e325f-e119-4cbd-a5d9-6017da66892d","serverToken":""},{"appID":"463950519194166","serverToken":""},{"appID":"7c5eb94a-1ed9-42db-b3cc-b2293aeb8ccb","serverToken":"QXBUBRR3FCCOEBM4WVJHFYNTNQUONY3Q"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"1694140921234824","serverToken":"QG3TH4IOB5AI6DVDTQ6O2S4XZTYYZHVL"}]}